[Unit]
Description=Fancy Frame Slideshow
After=network-online.target systemd-user-sessions.service
Wants=network-online.target
Conflicts=getty@tty1.service getty@tty2.service

[Service]
User=root
Group=root
Environment=HOME=/root
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/root
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
ExecStartPre=-/usr/bin/chvt 1
ExecStart=/usr/bin/xinit /opt/fancy-frame/scripts/start-slideshow.sh -- :0 vt1 -nolisten tcp
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
